
<div class = "row">
	<div class = "span6 offset3">
		<div class = "auction">
			<h1>
			  <%= @pin.title %>
				  <p class = "bid">
					$<%= @pin.startingBid %> 
				  </p>
			</h1>
			<h3>
			  <%= @pin.subtitle %>
			  <p class = "bid">
					Starting bid
				  </p>
			</h3>

			<button type="button" class="bid-button">Bid</button> 
			

			<div class = "photos">
				Photos appear here. 
			</div>
			
			<p>
				<%= @pin.description %>
			</p>
			<% if current_user == @pin.user %>
			<%= link_to 'Edit', edit_pin_path(@pin) %> |
			<%= link_to 'Back', pins_path %>
			<% end %>
		</div>
	</div>
</div>

